*{
      margin: 0;
      box-sizing: border-box;
   }
   
   body{
      background-color: #000;
      --menu-text-color: rgb(221, 221, 221);
   }

   .container{
      display: flex;
   }

   .title{
      display: flex;
      justify-content: space-between;
      color: rgb(221, 221, 221);
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 3em;
      width: 4.3em;
      margin-bottom: .5em;
   }

   .login-form{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      user-select: none;
   }

   .inputs{
      display: flex;
      flex-direction: column;
   }
   .input{
      margin-bottom: .4em;
   }

   .actions{
      display: flex;
      justify-content: space-between;
      transform: translate(0, 100%);
      width: 13em;
      height: 1.5em;
   }
   .button{
      cursor: pointer;
      background-color: transparent;
      color: rgb(221, 221, 221);
      font-size: 1em;
      border-radius: .25rem;
      box-shadow: inset 0 0 4px .1px rgb(116, 116, 116);
      transition-duration: 1s;
   }
   .button:hover{
      box-shadow: inset 0 0 10px .8px rgb(116, 116, 116);
   }

   .dropdown{
      position: absolute;
      top: 3%;
      left: 2%;
   }
   
   .burger{
      position: relative;
      background-color: transparent;
      cursor: pointer;
   }
   
   .burger-line{
      content: '';
      height: .7vh;
      width: 2vw;
      border-radius: 50px;
      background-color: rgb(84, 84, 84);
      margin-bottom: .5vh;
   }
   
   .dropdown-menu{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: calc(100% + .6rem);
      font-size: 1.4rem;
      border-radius: .25rem;
      box-shadow: inset 0 0 10px .5px rgb(31, 31, 31);
      width: 5em;
      height: 7em;
      transition-duration: 1s;
      opacity: 0;
   }
   .dropdown-menu.active{
      opacity: 1;
   }
   .menu-content{
      margin: .8rem;
      color: #fff;
      text-decoration: none;
      font-family: 'Alegreya Sans SC', sans-serif;
      letter-spacing: .1em;
   }
